.checkout-right {
  width: 80%;
}
.checkout-product {
  display: flex;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 30px 10px;
  background: #fff;
}

.checkout-product-img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.checkout-product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.checkout-product-info > button:active {
  transform: scale(0.8);
}
.checkout-product-rating {
  display: flex;
  margin: 15px;
}
.checkout-product-rating span {
  width: 20px;
  margin: 0 5px;
}
.checkout-product-rating span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkout-product-title {
  font-size: 17px;
  font-weight: 800;
}

.checkout-product-info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 30px;
  border-color: #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
